# Server Config
PORT=5000
NODE_ENV=production

# Security
JWT_SECRET=your_super_secret_jwt_key
JWT_EXPIRE=7d
BCRYPT_SALT_ROUNDS=10

# Database
MONGODB_URI=mongodb+srv://Diganta_18:<db_password>@cluster0.jyqzbmc.mongodb.net/

# CORS - Set this to your Frontend URL (e.g., https://your-app.vercel.app)
CORS_ORIGIN=http://localhost:5173
